@tailwind base;
@tailwind components;
@tailwind utilities;

.card img {
  transition: all 0.8s;
  transform: rotatey(0deg);

}

.card:hover img {
  transform: rotatey(360deg);
}

.joinus {
  background-repeat: no-repeat;
  background-image: url('https://template.hasthemes.com/brancy/brancy/assets/images/photos/bg1.webp');
  background-size: cover;
}