@tailwind base;
@tailwind components;
@tailwind utilities;

.card img {
  transition: all 0.8s;
  transform: rotatey(0deg);

}

.card:hover img {
  transform: rotatey(360deg);
}

.joinus{
  background-repeat: no-repeat;
  background-image: url('https://brancy.netlify.app/assets/images/shop/banner/7.webp');
  background-size: cover;
}